<section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our work
        </h2>
        <p>
          Here are some our photography work
        </p>
      </div>
      <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="/assets/images/a01 (1).jpg" alt="">
            <div class="btn-box">
              <a href="">

              </a>
            </div>
          </div>
          <div class="img-box b-2">
            <img src="/assets/images/a02 (1).jpg" alt="">
            <div class="btn-box">
              <a href="" >

              </a>
            </div>
          </div>
        </div>
        <div class="box-2">
          <div class="box-2-top">
            <div class="img-box b-3">
              <img src="/assets/images/a03 (1).jpg" alt="">
              <div class="btn-box">
                <a href="" >

                </a>
              </div>
            </div>
          </div>
          <div class="box-2-top2">
            <div class="img-box b-4">
              <img src="/assets/images/a04 (1).jpg" alt="">
              <div class="btn-box">
                <a href="" >

                </a>
              </div>
            </div>
          </div>
          <div class="box-2-btm">
            <div class="img-box b-5">
              <img src="/assets/images/a05 (1).jpg" alt="">
              <div class="btn-box">
                <a href="" >

                </a>
              </div>
            </div>
            <div class="img-box b-6">
              <img src="/assets/images/a06 (1).jpg" alt="">
              <div class="btn-box">
                <a href="" >

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </section>