<!-- slider section -->
<section class=" slider_section position-relative">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 offset-md-1 ">
                <div class="detail_box">
                  <h1>
                    photography <br>
                    studio
                  </h1>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1" routerLink="/about" style="text-decoration: none;">
                      About
                    </a>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6 px-0">
                <div class="img-box">
                  <img src="/assets/images/slider-img.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 offset-md-1">
                <div class="detail_box">
                  <h1>
                    photography <br>
                    studio
                  </h1>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content
                  </p>
                  
                </div>
              </div>
              <div class="col-md-6 px-0">
                <div class="img-box">
                  <img src="/assets/images/slider-img.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 offset-md-1">
                <div class="detail_box">
                  <h1>
                    photography <br>
                    studio
                  </h1>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content
                  </p>
                  
                </div>
              </div>
              <div class="col-md-6 px-0">
                <div class="img-box">
                  <img src="/assets/images/slider-img.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </section>
  <!-- end slider section -->